.container{
    display: flex;
    align-items: center;
}

.button{
    margin: 50px;
    background-color: white;
    color: rgb(125, 149, 216);
    border: none;
    border-radius: 100px;
    font-size: 6vh;
}

.button:hover{
    color:rgb(0, 68, 255);;
}

.wrapper{
    width: 30vw;
    overflow: hidden;
}

.slider{
    display: flex;
}

.upload{
    border: 2px dashed rgb(114, 45, 45);
    height: 14.5vh;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2vh;
    margin-left: 0.8vw;
}

.image{
    width: 14vw;
    height: 15vh; 
    margin-left: 0.8vw;
}


.upload:hover{
    cursor: pointer;
    background-color: rgb(247, 243, 243);
}
