.App {
  background-color: rgb(215, 120, 150);
}

header {
  display: flex;
  justify-content: space-between;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

h1{
  text-align: center;
  padding: 15px;
}

.wrap {
  display: flex;
  float: left;
  padding-left: 15px;
}

.inputForm {
  padding: 40px;
}