.header {
  background-color: rgb(125, 149, 216);
  display: flex;
  justify-content: space-between;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

h1{
  text-align: center;
  padding: 15px;
}

.wrapHeader {
  display: flex;
  float: left;
  padding-left: 15px;
}

.inputForm {
  padding: 40px;
}

.footer{
  background-color: rgb(125, 149, 216);
  display: flex;
  justify-content: space-between;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.wrapFooter {
  display: flex;
  float: left;
  padding-left: 15px;
}

.team{
  text-align: center;
  padding-right: 30px;
}

.text{
  text-align: center;
  font-size: 3em;
}

.background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.slider{
  height: 25vh;
}

.containerButton{
  height: 8vh;
}