
.header {
  background-color: rgb(125, 149, 216);
  display: flex;
  justify-content: space-between;
  font-family: Brush Script MT, Brush Script Std, cursive;
  height: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.logo{
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

h1{
  text-align: center;
  padding: 15px;
}

.wrapHeader {
  display: flex;
  float: left;
  padding-left: 15px;
}

.inputForm {
  padding: 40px;
  padding-left: 10px;
}

.inputFull{
  display: flex;
  justify-content: space-between;
}

.headerInput{
  background-color: #f2f2f2;
  color: #333333;
  border: 1px solid #999999;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.headerInput:focus{
  border-color: #ff0000;
  animation: shake 0.3s;
}

.headerInput:hover{
  cursor: pointer;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
   100% { transform: translateX(0); }
}

.footer{
  background-color: rgb(125, 149, 216);
  display: flex;
  justify-content: space-between;
  font-family: Brush Script MT, Brush Script Std, cursive;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 17vh;
}

.wrapFooter {
  display: flex;
  float: left;
  padding-left: 15px;
}

.team{
  text-align: center;
  padding-right: 30px;
}

.text{
  text-align: center;
  font-size: 3em;
}

.background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.slider{
  height: 20vh;
}

.containerButton{
  height: 12vh;
}

.loopa{
  height: 20px;
  width: 20px;
  padding-top: 40px;
}

.loopa:hover{
  cursor: pointer;
}

.burlaMaskImg{
  height: 100px;
  width: 100px;
}

.swapIcon{
  width: 10vh;
  height: 10vh;
}

.swapIcon:hover{
  cursor: pointer;
}

.colorBg{
  background-color: rgb(167, 220, 248);
}